h1{
    text-align: center;
    padding: auto;
}
div{
    text-align: center;
}    
.login-container{
    margin-top: 150px;
    padding : 1%;
    background-color: aqua;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10%;
}